<vue-template>
    <div
        @mouseenter="mouseEntersInput($event)"
        @mouseleave="mouseLeavesInput($event)">
        <input
            type="password"
            :placeholder="watermark"
            v-model="content"
            autocomplete="current-password"
            :class="{ 'not-valid-input': validate && validateErrors && validateErrors.length }"
        />
        <clear-button-pop-up
            ref="clearButtonPopUp"
            v-if="content && content.length"
            :action="clear">
        </clear-button-pop-up>
    </div>
</vue-template>

<script>
module.exports = async function () {
    const validateMixin = await require(`globalMixins/validate`);

    return {
        props: {
            watermark: {
                type: String,
                default: _ => ``
            },
            value: {
                type: String,
                default: _ => ``
            }
        },
        data: () => {
            return {
                content: this.value,
                defaultValidateRules: {}
            }
        },
        created() {
            if (this.value && this.content !== this.value) this.content = this.value;

            this.defaultValidateRules = {
                'required': this.required,
                'minLength': this.minLength,
                'maxLength': this.maxLength
            };

            this.validateValue();
        },
        methods: {
            clear() {
                this.content = ``;
                this.$emit('input', this.content);
            },
            mouseEntersInput(e) {
                if (!this.$refs.clearButtonPopUp)
                    return;

                let rect = e.target.getBoundingClientRect();
                let position = {
                    left: rect.right - 30,
                    top: rect.bottom - 24,
                };
                this.$refs.clearButtonPopUp.show(position);
            },
            mouseLeavesInput(e) {
                if (!this.$refs.clearButtonPopUp)
                    return;

                this.$refs.clearButtonPopUp.hide();
            },
            required(rule) {
                if (!this.content) this.validateMessage(rule, 'This field is required');

                return this.content;
            },
            minLength(rule) {
                const valid = this.content.length >= rule.parameter;
                if (!valid) this.validateMessage(rule, `Field contains less then ${rule.parameter} characters`);
                return valid;
            },
            maxLength(rule) {
                const valid = this.content.length <= rule.parameter;
                if (!valid) this.validateMessage(rule, `Field contains greather then ${rule.parameter} characters`);
                return valid;
            }
        },
        watch: {
            value(newValue) {
                this.content = newValue;
            },
            content(newValue) {
                this.validateValue();

                this.$emit('input', newValue);
            }
        },
        mixins: [validateMixin],
        components: {
            ClearButtonPopUp: staticBasicComponent(`ClearButtonPopUp`)
        }
    }
}
</script>

<style scoped>
.container-component-id input {
    border-width: 1px;
    border-top-color: #bdc0c7;
    box-shadow: none;
    padding: 5px 6px;
    font-size: 0.8rem;
    transition: none;
    display: block;
    width: 100%;
    line-height: 1.428571429;
    color: #404040;
    background-color: #fff;
    border: 1px solid #e7eaf3;
    border-radius: 3px;
    background-clip: padding-box;
    overflow: visible;
    box-sizing: border-box;
}
.container-component-id input:focus, input:active {
    border-color: #4285f4;
    background-image: none;
    outline: 0;
}
.container-component-id input.not-valid-input {
     border-color: #ee1c29;
}
</style>
