<vue-template>
    <basic-grid :columns="columns"
                :filters="filters"
                ref="treegrid"
                :source="url"
                :expandable="false"
                :default-sort-field="defaultSortField"
                :default-sort-field-descending="defaultSortFieldDescending"
                :source-strategy="sourceStrategy"
                :completed="completed"
                :hide-headers="hideHeaders"
                :row-handler="rowHandler"
                :metadata="metadata"
                :default-page-size="defaultPageSize"
                :preprocess-data-handler="preprocessDataHandler"
                :settings="gridSettings"
                :hide-popup="hidePopup"
                :not-show-empty="notShowEmpty"
                @selected="selected($event)"
                @changepaging="changePaging($event)"
                @completed="gridCompleted()">
        <div slot="tree_column" slot-scope="{ column, item }">
            <div class="tree-column-component-id">
                <span v-for="offset in getOffset(item)" class="tree-offset-component-id"></span>
                <slot name="treeColumnContent" :column="column" :item="item">
                    <a @click.stop.prevent="toggleExpand(item)" :style="{ 'visibility': item.expandable ? 'visible' : 'hidden' }">
                        <slot name="expandcontent" :item="item">
                            <font-awesome-icon class="expand-component-id" :icon="item.expand ? 'fa-caret-down' : 'fa-caret-right'"></font-awesome-icon>
                        </slot>
                    </a>
                    <span>{{ item[column.field] }}</span>
                </slot>
            </div>
        </div>
        <template slot="popup-buttons" slot-scope="{ item }">
            <slot name="popup-buttons" :item="item">

            </slot>
        </template>
        <template v-for="column in slotColumns" :slot="column.slot" slot-scope="{ column, item }">
            <slot :name="column.slot" :column="column" :item="item"></slot>
        </template>
        <template v-for="column in headerSlotColumns" :slot="column.headerSlot" slot-scope="{ column }">
            <slot :name="column.headerSlot" :column="column"></slot>
        </template>
        <template slot="tableEmpty">
            <slot name="tableEmpty"><div class="tree-grid-table-empty-component-id">{{ treeEmptyMessage }}</div></slot>
        </template>
    </basic-grid>
</vue-template>

<script>
module.exports =  {
    props: {
        url: String,
        hideHeaders: {
            type: Boolean,
            default: _ => false
        },
        columns: {
            type: Array,
            default: () => []
        },
        filters: {
            type: Object,
            default: () => {
                return {
                    filter: null
                }
            }
        },
        treeEmptyMessage: {
            type: String,
            default: () => `Tree is empty`
        },
        defaultSortField: {
            type: String,
            required: true
        },
        defaultSortFieldDescending: {
            type: Boolean,
            required: true
        },
        sourceStrategy: {
            type: Object,
            required: false
        },
        completed: {
            type: Function,
            required: false
        },
        rowHandler: Function,
        metadata: Object,
        preprocessDataHandler: Function,
        defaultPageSize: {
            type: Number,
            default: () => 5
        },
        gridSettings: {
            type: Object,
            required: false
        },
        hidePopup: {
            type: Boolean,
            default: _ => false
        },
        notShowEmpty: {
            type: Boolean,
            default: _ => false
        }
    },
    methods: {
        gridCompleted() {
            this.$emit(`completed`);
        },
        setSortColumn(sortings) {
            this.$refs.treegrid.setSortColumn(sortings);
        },
        changePaging($event) {
            this.$emit(`changepaging`, $event);
        },
        selected($event) {
            this.$emit(`selected`, $event);
        },
        async reloadData() {
            if (!this.$refs.treegrid) return;

            await this.$refs.treegrid.reloadData();
        },
        updateItem(item, key) {
            this.$refs.treegrid.updateItem(item, key);
        },
        setDefaultSorting(field, descending) {
            this.$refs.treegrid.sortingColumn = field;
            this.$refs.treegrid.sortingDescending = descending;
        },
        getOffset(item) {
            return item.treeHash.match(/(\.)/g);
        },
        toggleExpand(item) {
            item.expand = !item.expand;
            this.$refs.treegrid.pageItems.filter(a =>
                a.treeHash.length > item.treeHash.length &&
                a.treeHash.indexOf(item.treeHash) === 0
            ).forEach(a => {
                a.hidden = !item.expand;
                a.expand = item.expand;
            });
        },
        async pageChanged(page) {
            await this.$refs.treegrid.loadPage(page);
        },
        getRows() {
            return this.$refs.treegrid.getRows();
        },
        addItem(item) {
            return this.$refs.treegrid.addItem(item);
        },
        deleteItem(item) {
            return this.$refs.treegrid.deleteItem(item);
        }
    },
    computed: {
        slotColumns() {
            return this.columns.filter(a => a.slot && a.slot !== `tree_column`);
        },
        headerSlotColumns() {
            return this.columns.filter(a => a.headerSlot);
        }
    },
    components: {
        BasicGrid: staticBasicComponent(`BasicGrid`),
        FontAwesomeIcon: staticBasicComponent(`FontAwesomeIcon`)
    }
}
</script>

<style scoped>
.container-component-id {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tree-grid-table-empty-component-id {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #e7eaf3;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
}
.tree-column-component-id {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 23px;
}
.tree-offset-component-id {
    margin-left: 20px;
}
    .expand-component-id {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: #1e2022;
    }
.expand-component-id:hover {
    border-radius: 10px;
    background-color: #F8F8F8;
}
</style>
