<vue-plain-template>
    <form-modal :title="modalTitle" ref="formModal" min-width="500px">
        <div slot="content" class="form-container-component-id local-size" slot-scope="{ validation }">
            <form-fields-layout v-if="step === 1" :fields="fields">
                <text-block-required slot="name" :not-valid="nameValidate">
                    Name
                </text-block-required>
                <select-box :options="moduleNames" slot="nameinput" v-model="model.name" :validate="[`required`]"
                :validatecontext="validation" @validate-changed="nameValidate = $event">
                </select-box>

                <text-block slot="description">
                    Description
                </text-block>
                <multi-line clear-label="Clear" slot="descriptioninput" v-model="model.description">
                </multi-line>

                <text-block-required slot="url" :not-valid="urlValidate">
                    Http2 Port (Internal)
                </text-block-required>
                <digit-text-box
                    slot="urlinput"
                    v-model="model.urlPort"
                    :only-integer="true"
                    :only-positive="true"
                    :maximum="65545"
                    :validate="[`required`]"
                    :validatecontext="validation"
                    @validate-changed="urlValidate = $event">
                </digit-text-box>

                <text-block slot="weburl">
                    Http1 Port (External Web)
                </text-block>
                <digit-text-box
                    slot="weburlinput"
                    v-model="model.webUrlPort"
                    :only-integer="true"
                    :only-positive="true"
                    :maximum="65545">
                </digit-text-box>

                <text-block-required
                    slot="nodes"
                    :not-valid="nodesValidate">
                    Node
                </text-block-required>
                <select-box
                    :options="nodes"
                    slot="nodesinput"
                    v-model="currentNodeId"
                    :disable="nodeId"
                    :validate="[`required`]"
                    :validatecontext="validation"
                    @validate-changed="nodesValidate = $event">
                </select-box>

                <text-block slot="environments">
                    Attached environments
                </text-block>
                <multi-select-box slot="environmentsinput" :options="environments" v-model="selectedEnvironments">
                </multi-select-box>

                <text-block-required
                    slot="ecosystem"
                    :not-valid="ecosystemValidate">
                    Ecosystem
                </text-block-required>
                <select-box
                    :options="ecosystems"
                    slot="ecosysteminput"
                    v-model="model.ecosystem"
                    :validate="[`required`]"
                    :validatecontext="validation"
                    @validate-changed="ecosystemValidate = $event">
                </select-box>

                <text-block
                    slot="configurationnginx">
                    Configuration Nginx
                </text-block>
                <select-box
                    :options="configurationNginxs"
                    slot="configurationnginxinput"
                    v-model="model.configurationNginx">
                </select-box>

                <text-block
                    slot="configurationnginxweb">
                    Configuration Nginx Web
                </text-block>
                <select-box
                    :options="configurationNginxs"
                    slot="configurationnginxwebinput"
                    v-model="model.configurationNginxWeb">
                </select-box>

                <div v-if="model.logging">
                    <text-block slot="active">
                        Logging is active
                    </text-block>
                    <switch-box slot="activeinput" v-model="model.logging.active">
                    </switch-box>

                    <text-block slot="minimumloglevel">
                        Minimum log level
                    </text-block>
                    <select-box :options="minimumLogLevels" slot="minimumloglevelinput"
                    v-model="model.logging.logLevel">
                    </select-box>
                </div>
            </form-fields-layout>

            <form-fields-layout v-if="step === 2" :fields="fieldsLogging">
                <text-block slot="active">
                    Logging is active
                </text-block>
                <switch-box slot="activeinput" v-model="model.logging.active" v-if="model.logging">
                </switch-box>

                <text-block slot="minimumloglevel">
                    Minimum log level
                </text-block>
                <select-box :options="minimumLogLevels" slot="minimumloglevelinput" v-model="model.logging.logLevel"
                v-if="model.logging">
                </select-box>
            </form-fields-layout>

            <div v-if="nodeType === 1" slot="button" class="step-button-component-id">
                <save-button v-if="step === 1" @pressed="goStep(2)">
                    <icon-box icon="fa-arrow-alt-right" :title="'Next'" />
                </save-button>
                <default-button v-if="step === 2" @pressed="goStep(1)">
                    <icon-box icon="fa-backward" :left-title="'Previous'" />
                </default-button>
            </div>
        </div>

        <div slot="buttons" slot-scope="{ validation, summary }">
            <modal-control-buttons :save="save" :cancel="cancel" :delete-action="deleteItem" :delete-visible="false"
            :disable-save="!summary" />
        </div>
    </form-modal>

    <delete-confirm-modal ref="deleteConfirm">
    </delete-confirm-modal>
</vue-plain-template>

<script>
module.exports = async function () {
    const axios = await require(`axios`);
    const gridHelperMixin = await require(`globalMixins/gridHelpers`);
    const globalObserver = await require(`globalMixins/globalObserver`);
    const translateMixin = await require(`globalMixins/translations`);
    const componentStyles = await require(`componentStyles`);

    return {
        props: {
            nodeType: Number,
            nodeId: String,
            nodeIp: String,
            moduleName: String,
            ecosystemId: String
        },
        data() {
            return {
                model: {},
                modalTitle: ``,
                nameValidate: false,
                urlValidate: false,
                nodesValidate: false,
                ecosystemValidate: false,
                configurationnginxValidate: false,
                configurationnginxwebValidate: false,
                fieldsLogging: [
                    { labelSlot: `active`, inputSlot: `activeinput` },
                    { labelSlot: `minimumloglevel`, inputSlot: `minimumloglevelinput` }
                ],
                fields: [
                    { labelSlot: `name`, inputSlot: `nameinput` },
                    { labelSlot: `description`, inputSlot: `descriptioninput`, alignToTop: true },
                    { labelSlot: `url`, inputSlot: `urlinput` },
                    { labelSlot: `configurationnginx`, inputSlot: `configurationnginxinput`, showHandler: this.environmentsVisible },
                    { labelSlot: `weburl`, inputSlot: `weburlinput` },
                    { labelSlot: `configurationnginxweb`, inputSlot: `configurationnginxwebinput`, showHandler: this.environmentsVisible },
                    { labelSlot: `environments`, inputSlot: `environmentsinput`, showHandler: this.environmentsVisible },
                    { labelSlot: `nodes`, inputSlot: `nodesinput`, showHandler: this.nodesVisible },
                    { labelSlot: `ecosystem`, inputSlot: `ecosysteminput`, showHandler: this.nodesVisible },
                ],
                moduleNames: getLotusModules(),
                environments: [],
                minimumLogLevels: [],
                selectedEnvironments: [],
                step: 1,
                ecosystems: [],
                nodes: [],
                currentNodeId: this.nodeId,
                configurationNginxs: []
            }
        },
        created() {
            this.getNodes();
            this.getEcosystems();
            this.getConfigurationNginx();
        },
        methods: {
            async getConfigurationNginx() {
                const { data: result } = await axios.get(`/api/configurationnginx/grid`);
                for(const item of result) item.title = item.name;

                this.configurationNginxs = result;
            },
            environmentsVisible() {
                return false;
            },
            cancel() {
                this.$refs.formModal.closeModal();
            },
            nodesVisible() {
                return !this.model.id;
            },
            async getModel(id) {
                this.fireEvent(`globalBusy`, true);
                const { data: model } = await axios.get(`/api/modules/single`, { params: { id: id } });
                const { data: nodes } = await axios.get(`/api/modules/nodes`, { params: { moduleId: id } });
                const attachedNode = nodes[0];
                this.fireEvent(`globalBusy`, false);
                if (model.logging === null) {
                    model.logging = { id: model.id, active: false, logLevel: 2 };
                }
                model.id = id;
                model.urlPort = parseInt(model.url.split(`:`)[2]);
                model.webUrlPort = model.webUrl ? parseInt(model.webUrl.split(`:`)[2]) : null;
                this.currentNodeId = this.nodes.find(a => a.id === attachedNode.id).id;
                return model;
            },
            async openModal(id) {
                this.nameValidate = false;
                this.urlValidate = false;
                this.nodesValidate = false;
                this.ecosystemValidate = false;
                this.configurationnginxValidate = false;
                this.configurationnginxwebValidate = false;

                if (!id) {
                    this.model = {
                        logging: {
                            active: false,
                            logLevel: 2
                        },
                        name: this.moduleName,
                        ecosystem: this.ecosystemId,
                        urlPort: 0,
                        webUrlPort: null,
                        installedVersion: ``,
                        description: ``,
                        webUrl: ``
                    };
                    this.modalTitle = `Create Module`;
                } else {
                    this.model = await this.getModel(id);
                    this.modalTitle = `Edit Module`;
                }
                await this.loadEnvironmentsData(id);
                this.$refs.formModal.openModal();
            },
            async getNodes() {
                let { data: result } = await axios.get(`/api/nodes/grid`);

                result = result.filter(a => a.isCustomService);

                for(const item of result) item.title = `${item.name} (${item.ip})`;

                this.nodes = result;
            },
            async getEcosystems() {
                const { data: result } = await axios.get(`/api/ecosystems/grid`);
                for(const item of result) item.title = item.name;

                this.ecosystems = result;
            },
            async toggledLogging({ id, logging }) {
                this.fireEvent(`globalBusy`, true);
                const { data: savedItem } = await axios.get(`/api/modules/UpdateLogging`, { params: { moduleId: id, logging: !logging.active } });
                this.fireEvent(`globalBusy`, false);
                this.$refs.grid.updateItem(savedItem, `id`);
            },
            async goStep(step) {
                this.step = step;
            },
            async save() {
                if (this.step == 1) this.model.logging = null;
                this.step = 1;
                const node = this.nodes.find(a => a.id === this.currentNodeId);
                this.model.url = `http://${node.ip}:${this.model.urlPort}`;
                if (this.model.webUrlPort) this.model.webUrl = `http://${node.ip}:${this.model.webUrlPort}`;

                this.fireEvent(`globalBusy`, true);

                const { data: savedItem } = await axios.post(`/api/modules/addoredit`, this.model);
                await axios.post(`/api/modules/saveenvironments`,
                    {
                        id: savedItem.id,
                        environments: this.selectedEnvironments
                    }
                );

                if (!this.model.id) {
                    await axios.get(`/api/nodes/savemoduletonode`,
                        { 
                            params: {
                                id: this.currentNodeId,
                                moduleId: savedItem.id
                            }
                        }
                    );
                }

                this.$refs.formModal.closeModal();
                this.fireEvent(`globalBusy`, false);

                this.$emit(`saved`, { isNew: !this.model.id, savedItem, currentNodeId: this.currentNodeId })
            },
            async loadEnvironmentsData(id) {
                if (id) {
                    const { data: result } = await axios.get(`/api/modules/environments`, { params: { id } });
                    this.selectedEnvironments = result;
                } else {
                    this.selectedEnvironments = [];
                }
                const { data: environments } = await axios.get(`/api/environment/grid`);
                for (const environment of environments) {
                    environment.title = environment.name;
                }
                this.environments = environments;
                if (this.minimumLogLevels.length === 0) {
                    const { data: minimumLogLevels } = await axios.get(`/api/modules/getlogginglevels`);
                    this.minimumLogLevels = minimumLogLevels.items;
                }
            },
            async deleteItem() {
                const result = await this.delete({ item: this.editedItem });
                if (result) this.$refs.formModal.closeModal();
            },
            async delete({ item, title }) {
                this.modalTitle = ``;
                const result = await this.$refs.deleteConfirm.showConfirm();
                if (!result) return;

                this.fireEvent(`globalBusy`, true);
                const { data: deleteResult } = await axios.delete(`/api/modules/delete`, { params: { id: item.id } });
                this.fireEvent(`globalBusy`, false);
                if (deleteResult) this.$refs.grid.deleteItem(item);
                return deleteResult;
            }
        },
        mixins: [translateMixin, globalObserver, gridHelperMixin],
        components: {
            SwitchBox: staticBasicComponent(`SwitchBox`),
            FlatDataGrid: localStaticComponent(`/components/misc/DataGrid.html`),
            MenuOption: staticBasicComponent(`MenuOption`),
            HyperLinkAction: staticBasicComponent(`HyperLinkAction`, componentStyles.hyperLinks.hyperLinkAction),
            ShortText: staticBasicComponent(`ShortTextWithTooltip`),
            DeleteConfirmModal: localStaticComponent(`/components/misc/DeleteConfirmModal.html`),
            TextBox: staticBasicComponent(`TextBox`, componentStyles.textBoxes.default),
            TextBlock: staticBasicComponent(`TextBlock`, componentStyles.textBlocks.formFieldLabel),
            TextBlockRequired: staticBasicComponent(`ValidateLabelBox`, componentStyles.textBlocks.defaultValidateLabelBox),
            FormModal: staticBasicComponent(`FormModal`, componentStyles.modals.defaultFormModal),
            SelectBox: staticBasicComponent(`SelectBox`, componentStyles.selectBoxes.default),
            MultiSelectBox: staticBasicComponent(`MultiSelectBox`, componentStyles.multiSelectBoxes.default),
            SaveButton: staticBasicComponent(`ActionButton`, componentStyles.buttons.primaryButton),
            GreenButton: staticBasicComponent(`ActionButton`, componentStyles.buttons.successButton),
            DefaultButton: staticBasicComponent(`ActionButton`, componentStyles.buttons.grayEllipseButton),
            MultiLine: staticBasicComponent(`MultiLineTextBox`, componentStyles.textBoxes.defaultMultiLineTextBox),
            FormFieldsLayout: staticBasicComponent(`FormFieldsLayout`),
            ModalControlButtons: localStaticComponent(`/components/misc/ModalControlButtons.html`),
            IconBox: staticBasicComponent(`IconBox`),
            DigitTextBox: staticBasicComponent(`DigitTextBox`, componentStyles.textBoxes.defaultDigit)
        }
    }
}
</script>