<vue-template>
    <flat-data-grid
        ref="grid"
        :settings="settings"
        v-if="gridData">
        <div slot="leftedgecontent">
            <slot name="leftedgecontent"></slot>
        </div>
        <short-text
            slot="nameslot"
            slot-scope="{ item }" 
            :text="item.name"
            :is-link="true"
            @clicked="editItem(item)">
        </short-text>
        <menu-option slot="editmenuoption" slot-scope="{ item }" :title="item.title" :mode="'edit'"></menu-option>
        <menu-option slot="deletemenuoption" slot-scope="{ item }" :title="item.title" :mode="'delete'"></menu-option>
    </flat-data-grid>

    <form-modal
        :title="modalTitle"
        ref="formModal"
        min-width="500px">
        <div slot="content" class="form-container-component-id local-size" slot-scope="{ validation }">
            <form-fields-layout :fields="fields">
                <text-block-required
                    slot="name"
                    :not-valid="nameValidate">
                    Name
                </text-block-required>
                <text-box
                    slot="nameinput"
                    v-model="model.name"
                    :validate="['required']"
                    :validatecontext="validation"
                    @validate-changed="nameValidate = $event">
                </text-box>

                <text-block-required
                    slot="password"
                    :not-valid="passwordValidate">
                    Password
                </text-block-required>
                <password-box
                    slot="passwordinput"
                    v-model="model.password"
                    :validate="[ { name: 'checkpassword', handler: validatePassword } ]"
                    :validatecontext="validation"
                    @validate-changed="passwordValidate = $event">
                </password-box>
            </form-fields-layout>

        </div>
        <div slot="buttons" slot-scope="{ validation, summary }">
            <modal-control-buttons :save="save"
                                    :cancel="cancel"
                                    :delete-action="deleteItem"
                                    :delete-visible="model && model.taskId && !isMyModule"
                                    :disable-save="!summary">
            </modal-control-buttons>
        </div>
    </form-modal>

    <delete-confirm-modal
        ref="deleteConfirm"
    />
</vue-template>

<script>
module.exports = async function () {
    const gridHelperMixin = await require(`globalMixins/gridHelpers`);
    const globalObserver = await require(`globalMixins/globalObserver`);
    const translateMixin = await require(`globalMixins/translations`);
    const componentStyles = await require(`componentStyles`);

    return {
        data() {
            return {
                settings: {
                    columns: [
                        this.addColumn(`Name`, `name`, { slot:`nameslot` })
                    ],
                    emptyMessage: null,
                    urls: {
                        grid:`-`,
                    },
                    gridItemActions:[
                        {
                            title: `Edit`,
                            id: `edit`,
                            slot: `editmenuoption`,
                        },
                        {
                            title: `Delete`,
                            id: `delete`,
                            slot: `deletemenuoption`,
                        }
                    ],
                    addButtonText: `Add Account`,
                    defaultSortField:`name`,
                    expandable: false,
                    hidePageSize: true,
                    defaultPageSize: 5,
                    defaultSortFieldDescending: false,
                    sourceStrategy: this.getLocalStrategy(false,``,null),
                    additionalOptions: {
                        minimumLimitAllItems: 500
                    },
                    actions: this
                },
                model: {},
                modalTitle: ``,
                nameValidate: false,
                passwordValidate: false,
                fields: [
                    { labelSlot: "name", inputSlot: "nameinput" },
                    { labelSlot: "password", inputSlot: "passwordinput" },
                ]
            }
        },
        async created() {
            const { data: result } = await axios.get(`/api/account/grid`);
            this.gridData = result;

            this.$refs.grid.reloadData();
        },
        methods: {
            validatePassword(rule, validateMessage) {
                if (this.model.id) return true;

                if (!this.model.password) {
                    validateMessage(rule, `Password is mandatory`);
                    return false;
                }

                return true;
            },
            cancel() {
                this.$refs.formModal.closeModal();
            },
            formatDate(date) {
                return date ? moment(date).format('MM/DD/YYYY') : '';
            },
            async editFromGrid(item) {
                item.id = this.model.id;
                this.model = item;
                await this.save();
                this.$refs.formModal.closeModal();
            },
            async deleteFromGrid() {
                await this.deleteItem();
            },
            add({ item, title }) {
                this.model = {};
                this.modalTitle = `Create Account`; 
                this.nameValidate = false;
                this.passwordValidate = false;

                this.$refs.formModal.openModal();
            },
            async deleteItem() {
                const result = await this.delete({ item: this.editedItem });
                if (result) this.$refs.formModal.closeModal();
            },
            async delete({ item, title }) {
                this.modalTitle = ``;
                const result = await this.$refs.deleteConfirm.showConfirm();
                if (!result) return;

                this.fireEvent(`globalBusy`, true);
                const { data: deleteResult } = await axios.delete(`/api/account/delete`, { params: { id: item.id }});
                this.fireEvent(`globalBusy`, false);
                if (deleteResult) this.$refs.grid.deleteItem(item);
                return deleteResult;
            },
            async editItem(item) {
                await this.edit({ item: item });
            },
            async getModel(id) {
                this.fireEvent(`globalBusy`, true);
                const { data: model } = await axios.get(`/api/account/single`, { params: { id: id } });
                this.fireEvent(`globalBusy`, false);
                model.id = id;
                return model;
            },
            async edit({ item, title }) {
                this.editedItem = item;
                this.model = await this.getModel(item.id);
                this.modalTitle = `Edit Account`;
                this.$refs.formModal.openModal();
            },
            async save() {
                this.fireEvent(`globalBusy`, true);
                const { data: savedItem } = await axios.post(`/api/account/addoredit`, this.model);
                this.fireEvent(`globalBusy`, false);
                this.$refs.formModal.closeModal();
                if (!this.model.id) {
                    this.$refs.grid.addItem(savedItem);
                } else {
                    this.$refs.grid.updateItem(savedItem, `id`);
                }
            }
        },
        mixins: [translateMixin, globalObserver, gridHelperMixin],
        components: {
            FlatDataGrid: localStaticComponent(`/components/misc/DataGrid.html`),
            MenuOption: staticBasicComponent(`MenuOption`),
            HyperLinkAction: staticBasicComponent(`HyperLinkAction`),
            ShortText: staticBasicComponent(`ShortTextWithTooltip`),
            DeleteConfirmModal: localStaticComponent(`/components/misc/DeleteConfirmModal.html`),
            TextBox: staticBasicComponent(`TextBox`),
            TextBlock: staticBasicComponent(`TextBlock`),
            TextBlockRequired: staticBasicComponent(`ValidateLabelBox`),
            FormModal: staticBasicComponent(`FormModal`),
            FormFieldsLayout: staticBasicComponent(`FormFieldsLayout`),
            ModalControlButtons: localStaticComponent(`/components/misc/ModalControlButtons.html`),
            PasswordBox: staticBasicComponent(`PasswordBox`)
        }
    }
}
</script>